*.jpg
*.png
deprecated/
build/
scratch/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.eggs/
.ipynb_checkpoints/
.vscode/
.idea/
articles/
examples/
docs/
!assets/icon-larger.png
!view/assets/icon-larger.png
